/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #161717; 
    font-family: 'Poppins', sans-serif;
    color: #fafafa;
    padding: 20px;
}

/* Main Container
main {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500;
} */

/* Content Styling */
.content {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 1.5em;
}


h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: #bcd0ca;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}

p > i {
    color: #bcd0ca;
    font-weight: bold;
}

.secondary-text {
    font-weight:bold;
    color: #a0ccc5;
}

iframe {
    width: 100%;
    max-width: 400px;
    height: 50px;
    border: none;
    border-radius: 6px;
    margin-top: 1em;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
